[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox Dev
Comment=
Exec=/opt/firefox/firefox
Icon=/home/test/Pictures/icons/firefox-dev-icon.png
Path=
Terminal=false
StartupNotify=false