[Desktop Entry]
Version=1.0
Type=Application
Name=Packet Tracer
Exec=packettracer
Icon=~/Pictures/icons/packet-icon.png
Path=
Terminal=false
StartupNotify=false
Categories=Network;